syntax: glob

build/
CMakeFiles/
/unicode/
.vs/
.DS_Store
.idea/
gc-*/
out/
CMakeCache.txt
CMakeSettings.json
CTestTestfile.cmake
cmake_install.cmake
cmake_uninstall.cmake
Makefile
/Testing
DartConfiguration.tcl

*.bin
*.pc
*.orig
*.log
*.tmp
*.iml

# generated code
.sagittarius-r6rstestrc
.sagittarius-r7rstestrc
.sagittarius-sitetestrc
sagittarius-config
sagittarius-package

/ext-features.inc
/doc/*.html
/doc/sections
/ext/atomic/atomic.c
/ext/crypto/bytevector.c
/ext/crypto/cipher.c
/ext/crypto/digest.c
/ext/crypto/ec-fields.c
/ext/crypto/kdf.c
/ext/crypto/libtomcrypt/liblibtomcrypt.a
/ext/crypto/mac.c
/ext/crypto/modes/
/ext/crypto/random.c
/ext/crypto/salsa.c
/ext/crypto/scrypt.stub
/ext/crypto/stream.c
/ext/ffi/ffi_stub.c
/ext/filewatch/filewatch_stub.c
/ext/odbc/odbc_stub.c
/ext/perr
/ext/pout
/ext/process/process_stub.c
/ext/socket/selector.c
/ext/socket/socket_stub.c
/ext/socket/tls_socket_stub.c
/ext/termios/termios_stub.c
/ext/termios/termios.incl
/ext/termios/pty.c
/ext/threads/threads_stub.c
/ext/time/date_stub.c
/ext/time/time_stub.c
/ext/watch
/ext/zlib/zlib_stub.c
/sagittarius/config.h
/src/vminsn.c
/src/sagittarius/private/instruction.h
/src/sagittarius/private/builtin-symbols.h
/src/sagittarius/private/builtin-keywords.h
/src/lib_vmdebug.c
/src/lib_vm.c
/src/lib_treemap.c
/src/lib_sandbox.c
/src/lib_sagittarius.c
/src/lib_regex.c
/src/lib_program.c
/src/lib_proc.c
/src/lib_macro.c
/src/lib_flonums.c
/src/lib_fixnums.c
/src/lib_errors.c
/src/lib_core.c
/src/lib_clos.c
/src/lib_arith.c
/src/lib_kernel.c
/src/lib_atomic.c
/src/lib_iform.c
/src/lib_pam.c
/src/lib_pass1.c
/src/lib_pass1-core.c
/src/lib_pass1-syntax.c
/src/lib_pass2.c
/src/lib_pass3.c
/src/lib_pass4.c
/src/lib_pass5.c
/src/lib_base.c
/src/lib_compiler-util.c
/src/lib_inliner.c
/src/compiler.c
/src/builtin-symbols.c
/src/builtin-keywords.c
/ext/.sagittarius-exttestrc
/sitelib/sagittarius/char-sets
/sitelib/srfi/99.scm
/sitelib/srfi/98.scm
/sitelib/srfi/9.scm
/sitelib/srfi/87.scm
/sitelib/srfi/86.scm
/sitelib/srfi/8.scm
/sitelib/srfi/78.scm
/sitelib/srfi/69.scm
/sitelib/srfi/64.scm
/sitelib/srfi/61.scm
/sitelib/srfi/60.scm
/sitelib/srfi/6.scm
/sitelib/srfi/57.scm
/sitelib/srfi/5.scm
/sitelib/srfi/49.scm
/sitelib/srfi/45.scm
/sitelib/srfi/43.scm
/sitelib/srfi/42.scm
/sitelib/srfi/41.scm
/sitelib/srfi/4.scm
/sitelib/srfi/39.scm
/sitelib/srfi/38.scm
/sitelib/srfi/37.scm
/sitelib/srfi/31.scm
/sitelib/srfi/29.scm
/sitelib/srfi/27.scm
/sitelib/srfi/26.scm
/sitelib/srfi/25.scm
/sitelib/srfi/23.scm
/sitelib/srfi/219.scm
/sitelib/srfi/2.scm
/sitelib/srfi/197.scm
/sitelib/srfi/195.scm
/sitelib/srfi/210.scm
/sitelib/srfi/230.scm
/sitelib/srfi/193.scm
/sitelib/srfi/17.scm
/sitelib/srfi/160.scm
/sitelib/srfi/160/u8.scm
/sitelib/srfi/160/u64.scm
/sitelib/srfi/160/u32.scm
/sitelib/srfi/160/u16.scm
/sitelib/srfi/160/s8.scm
/sitelib/srfi/160/s64.scm
/sitelib/srfi/160/s32.scm
/sitelib/srfi/160/s16.scm
/sitelib/srfi/160/f64.scm
/sitelib/srfi/160/f32.scm
/sitelib/srfi/160/c64.scm
/sitelib/srfi/160/c128.scm
/sitelib/srfi/160/base.scm
/sitelib/srfi/160/base/c64.scm
/sitelib/srfi/160/base/c128.scm
/sitelib/srfi/16.scm
/sitelib/srfi/159.scm
/sitelib/srfi/158.scm
/sitelib/srfi/156.scm
/sitelib/srfi/154.scm
/sitelib/srfi/152.scm
/sitelib/srfi/151.scm
/sitelib/srfi/146.scm
/sitelib/srfi/146/hash.scm
/sitelib/srfi/145.scm
/sitelib/srfi/144.scm
/sitelib/srfi/143.scm
/sitelib/srfi/142.scm
/sitelib/srfi/141.scm
/sitelib/srfi/14.scm
/sitelib/srfi/139.scm
/sitelib/srfi/136.scm
/sitelib/srfi/135.scm
/sitelib/srfi/134.scm
/sitelib/srfi/133.scm
/sitelib/srfi/132.scm
/sitelib/srfi/131.scm
/sitelib/srfi/130.scm
/sitelib/srfi/13.scm
/sitelib/srfi/129.scm
/sitelib/srfi/128.scm
/sitelib/srfi/127.scm
/sitelib/srfi/126.scm
/sitelib/srfi/125.scm
/sitelib/srfi/124.scm
/sitelib/srfi/123.scm
/sitelib/srfi/121.scm
/sitelib/srfi/120.scm
/sitelib/srfi/117.scm
/sitelib/srfi/116.scm
/sitelib/srfi/115.scm
/sitelib/srfi/114.scm
/sitelib/srfi/113.scm
/sitelib/srfi/112.scm
/sitelib/srfi/111.scm
/sitelib/srfi/110.scm
/sitelib/srfi/11.scm
/sitelib/srfi/105.scm
/sitelib/srfi/101.scm
/sitelib/srfi/100.scm
/sitelib/srfi/1.scm
/sitelib/srfi/0.scm
/sitelib/srfi/%3a160/u8.scm
/sitelib/srfi/%3a160/u64.scm
/sitelib/srfi/%3a160/u32.scm
/sitelib/srfi/%3a160/u16.scm
/sitelib/srfi/%3a160/s8.scm
/sitelib/srfi/%3a160/s64.scm
/sitelib/srfi/%3a160/s32.scm
/sitelib/srfi/%3a160/s16.scm
/sitelib/srfi/%3a160/f64.scm
/sitelib/srfi/%3a160/f32.scm
/sitelib/srfi/%3a160/c64.scm
/sitelib/srfi/%3a160/c128.scm
/sitelib/srfi/%3a160
/ext/time/srfi/19.scm
/ext/time/sagittarius/win-mappings.scm
/ext/time/sagittarius/tzdata.scm
/ext/time/sagittarius/leap-table.scm
/ext/threads/srfi/18.scm
/ext/socket/srfi/106.scm
/sitelib/scheme/mapping/hash.scm
/sitelib/scheme/vector/u8.scm
/sitelib/scheme/vector/u64.scm
/sitelib/scheme/vector/u32.scm
/sitelib/scheme/vector/u16.scm
/sitelib/scheme/vector/s8.scm
/sitelib/scheme/vector/s64.scm
/sitelib/scheme/vector/s32.scm
/sitelib/scheme/vector/s16.scm
/sitelib/scheme/vector/f64.scm
/sitelib/scheme/vector/f32.scm
/sitelib/scheme/vector/c64.scm
/sitelib/scheme/vector/c128.scm
/sitelib/scheme/vector/base.scm
/sitelib/scheme/vector.scm
/sitelib/scheme/text.scm
/sitelib/scheme/stream.scm
/sitelib/scheme/sort.scm
/sitelib/scheme/set.scm
/sitelib/scheme/rlist.scm
/sitelib/scheme/regex.scm
/sitelib/scheme/mapping.scm
/sitelib/scheme/lseq.scm
/sitelib/scheme/list.scm
/sitelib/scheme/list-queue.scm
/sitelib/scheme/ilist.scm
/sitelib/scheme/ideque.scm
/sitelib/scheme/hash-table.scm
/sitelib/scheme/generator.scm
/sitelib/scheme/format.scm
/sitelib/scheme/flonum.scm
/sitelib/scheme/fixnum.scm
/sitelib/scheme/ephemeron.scm
/sitelib/scheme/division.scm
/sitelib/scheme/comparator.scm
/sitelib/scheme/charset.scm
/sitelib/scheme/bytevector.scm
/sitelib/scheme/box.scm
/sitelib/scheme/bitwise.scm
/sitelib/text/xml/entities-list.scm

# Git repository during test execution
/test/JSON-Schema-Test-Suite
/test/jmespath.test
