version: 2.1

orbs:
  windows: circleci/windows@5.0

executors:
  debian:
    docker:
      - image: buildpack-deps:bookworm
        environment:
          ENV: CI
  ubuntu:
    machine:
      image: ubuntu-2404:current
  
jobs:
  posix-build:
    parameters:
      os:
        type: executor
    executor: << parameters.os >>
    steps:
      - checkout:
          path: ~/target
      - run:
          name: Installing dependencies
          working_directory: ~/
          command: |
            bash target/.ci/setup-ubuntu.sh
      - run:
          name: Installing current Sagittarius
          working_directory: ~/current_sagittarius
          command: |
            bash ../target/.ci/build-current.sh 'no'
      - run:
          name: Pre-build
          working_directory: ~/target
          command: |
            ./dist.sh gen
            cmake . -DSKIP_TEST_VECTOR=ON
      - run:
          name: Build
          working_directory: ~/target
          command: make
      - run:
          name: Test
          working_directory: ~/target
          command: ctest --output-on-failure
           
  windows-build:
    parameters:
      executor:
        type: string
      vspath:
        type: string
      arch:
        type: string
    executor: << parameters.executor >>
    steps:
      - checkout
      - run:
          name: Installing current Sagittarius
          command: |
            .\.ci\install-current.ps1
      - run:
          name: Pre-build (set up MSVC)
          command: |
            cmd.exe /c "call `"<< parameters.vspath >>\VC\Auxiliary\Build\vcvarsall.bat`" << parameters.arch >> && set > %temp%\vcvars.txt"
            Get-Content "$env:temp\vcvars.txt" | Foreach-Object {
              if ($_ -match "^(.*?)=(.*)$") {
                Set-Content "env:\$($matches[1])" $matches[2]
              }
            }
            .\dist.bat gen
            cmake . -G "Ninja" -DSKIP_TEST_VECTOR=ON
      - run:
          name: Build
          command: |
            Get-Content "$env:temp\vcvars.txt" | Foreach-Object {
              if ($_ -match "^(.*?)=(.*)$") {
                Set-Content "env:\$($matches[1])" $matches[2]
              }
            }
            & ninja
      - run:
          name: Test
          command: |
            Get-Content "$env:temp\vcvars.txt" | Foreach-Object {
              if ($_ -match "^(.*?)=(.*)$") {
                Set-Content "env:\$($matches[1])" $matches[2]
              }
            }
            & ctest -LE json --output-on-failure

workflows:
  linux-build:
    jobs:
      - posix-build:
          matrix:
            parameters:
              # I'm a bit lazy to work on it, so keep on Debian
              # Ubuntu is tested on GitHub anyway
              # os: [debian, ubuntu]
              os: [debian]
  windows-2022:
    jobs:
      - windows-build:
          matrix:
            parameters:
              executor: [windows/server-2022]
              vspath: [C:\Program Files\Microsoft Visual Studio\2022\Community]
              arch: [x64, x86]
  windows-2019:
    when: false # Circle CI doesn't have MSVC in their VS 2019 installation...
    jobs:
      - windows-build:
          matrix:
            parameters:
              executor: [windows/server-2019]
              vspath: [C:\Program Files (x86)\Microsoft Visual Studio\2019\Community]
              arch: [x64, x86]
      
