name: Build Artifact
on:
  workflow_call:
    inputs:
      release:
        required: true
        type: boolean
      suffix:
        required: true
        type: string
    outputs:
      artifact-id:
        description: Uploaded artifact ID
        value: ${{ jobs.Build-Artifact.outputs.artifact-id }}
      tar-file:
        description: Sagittarius tar file of the artifact content
        value: ${{ jobs.Build-Artifact.outputs.tar-file }}

jobs:
  Build-Artifact:
    runs-on: ubuntu-latest
    outputs:
      artifact-id: ${{ steps.upload-artifact.outputs.artifact-id }}
      tar-file: sagittarius-${{ steps.version.outputs.build_version }}.tar.gz
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: ./checkout
      - name: Prepare build
        run: |
          bash "./checkout/.ci/setup-ubuntu.sh"
          bash "./checkout/.ci/build-current.sh"
          mkdir build
          cd checkout; ./dist.sh gen
      - name: Setup non-release version
        if: ${{ !inputs.release }}
        run: |
          version=$(cmake -LA ../checkout | grep SAGITTARIUS_VERSION | sed 's/SAGITTARIUS_VERSION:STRING=//')
          echo "old version:$version, new version: $version-${{ github.run_id }}"
          sed -e "s/$version/$version-${{ github.run_id }}/" -i ../checkout/CMakeLists.txt
        working-directory: build
      - name: Build
        run: |
          cmake ../checkout
          make -j8
          make online-doc
        working-directory: build
      - name: Extract version
        id: version
        run: |
          version=$(./build/sagittarius -e '(display (sagittarius-version))(exit)')
          echo "Extracted version: $version"
          echo "build_version=$version" >> $GITHUB_OUTPUT
        working-directory: build
      - name: Make tar
        run: |
          ../checkout/dist.sh dist ../checkout
        working-directory: build
      - uses: actions/upload-artifact@v6
        id: upload-artifact
        with:
          name: sagittarius-${{ inputs.suffix }}
          path: ./build/sagittarius-${{ steps.version.outputs.build_version }}.tar.gz
          compression-level: 0
      - uses: actions/upload-artifact@v6
        id: upload-doc-artifact
        with:
          name: sagittarius-doc-${{ inputs.suffix }}
          path: |
            ./build/doc/**
            !./build/doc/CMakeFiles/*
            !./build/doc/*.cmake
            !./build/doc/Makefile
          compression-level: 0
