name: Sagittarius CI

on:
  push:
    branches: [ master ]

jobs:
  POSIX-Build:
    uses: ./.github/workflows/posix-build.yml

  VMActions-Build:
    needs: POSIX-Build
    uses: ./.github/workflows/vmactions-build.yml

  Windows-Build:
    uses: ./.github/workflows/windows-build.yml

  Create-Artifact:
    needs: [POSIX-Build, Windows-Build]
    uses: ./.github/workflows/artifact.yml
    with:
      release: false
      suffix: ${{ github.run_id }}

  Create-Windows-Installer-Artifact:
    needs: Create-Artifact
    uses: ./.github/workflows/windows-installer.yml
    with:
      artifact-id: ${{ needs.Create-Artifact.outputs.artifact-id }}
      tar-file: ${{ needs.Create-Artifact.outputs.tar-file }}
      suffix: ${{ github.run_id }}
