name: Sagittarius release

on:
  push:
    tags:
      - "v*"

jobs:
  Extract-Version:
    runs-on: ubuntu-latest
    name: Extract Version
    outputs:
      version: ${{ steps.check_version.outputs.version }}
    steps:
      - id: check_version
        continue-on-error: true
        run: |
          tag=${{ github.ref_name }}
          prefix="v"
          version=${tag#$prefix}
          echo "Release version: $version"
          echo "version=$version" >> $GITHUB_OUTPUT

  Create-Artifact:
    needs: Extract-Version
    uses: ./.github/workflows/artifact.yml
    with:
      release: true
      suffix: ${{ needs.Extract-Version.outputs.version }}
      version: ${{ needs.Extract-Version.outputs.version }}

  Create-Windows-Installer-Artifact:
    needs: [Extract-Version, Create-Artifact]
    uses: ./.github/workflows/windows-installer.yml
    with:
      artifact-id: ${{ needs.Create-Artifact.outputs.artifact-id }}
      tar-file: ${{ needs.Create-Artifact.outputs.tar-file }}
      suffix: ${{ needs.Extract-Version.outputs.version }}
