name: Build Windows installers
on:
  workflow_call:
    inputs:
      artifact-id:
        required: true
        type: string
      tar-file:
        required: true
        type: string
      suffix:
        required: true
        type: string
  workflow_dispatch:
    inputs:
      artifact-id:
        required: true
        type: string
      tar-file:
        required: false
        type: string
        default: "<n/a>"
      suffix:
        required: false
        type: string
        default: "manual"

jobs:
  Build-Windows-Installer:
    runs-on: windows-2025
    name: Windows installer - ${{ matrix.arch }}
    strategy:
      matrix:
        arch: [x64, x86]
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v7
        with:
          artifact-ids: ${{ inputs.artifact-id }}
          merge-multiple: true
      - name: Debug
        run: dir
        shell: cmd
      - name: Find tar file
        id: find_tar_file
        run: |
          $tarfile = "${{ inputs.tar-file }}"
          if ($tarfile -eq "<n/a>") {
            $tarfile = (Get-Item sagittarius*.tar.gz).Name
          }
          Write-Output "tar_file=$($tarfile)" >> $Env:GITHUB_OUTPUT
      - name: Extract tar file
        id: extract
        run: |
          tar -xzf ${{ steps.find_tar_file.outputs.tar_file }}
          dir /B /AD > tmpfile
          set /p BUILD_DIR= < tmpfile
          echo Build dir: %BUILD_DIR%
          echo | set /p="build_dir=%BUILD_DIR%" >> %GITHUB_OUTPUT%
          del /f tmpfile
        shell: cmd
      - name: Debug
        run: echo %cd%
        shell: cmd
        working-directory: ${{ steps.extract.outputs.build_dir }}
      - name: Setup MSVC
        uses: TheMrMilchmann/setup-msvc-dev@v3
        with:
          arch: ${{ matrix.arch }}
      - name: Build
        run: |
          cmake . -G "Ninja"
          ninja -j8
        shell: cmd
        working-directory: ${{ steps.extract.outputs.build_dir }}
      - name: Make installer
        uses: Minionguyjpro/Inno-Setup-Action@v1.2.7
        with:
          path: ${{ steps.extract.outputs.build_dir }}/win/innosetup.iss
          options: /Qp
      - name: Test exe
        shell: pwsh
        run: |
          $file = Get-Item .\win\Output\*.exe
          Start-Process -FilePath ".\win\Output\$($file.Name)" -ArgumentList '/VERYSILENT', '/SUPPRESSMSGBOXES', '/ALLUSERS', -Wait

          $sash = "$($Env:Programfiles)\Sagittarius\sash.exe"
          Start-Process -FilePath $sash -ArgumentList '-Einfo', ".\example\net\http-client0.scm" -Wait -NoNewWindow
        working-directory: ${{ steps.extract.outputs.build_dir }}
      - name: Upload installer
        id: upload-windows-installer
        uses: actions/upload-artifact@v6
        with:
          name: sagittarius-${{ inputs.suffix }}-${{ matrix.arch }}-installer
          path: ${{ steps.extract.outputs.build_dir }}/win/Output/setup_sagittarius_*.exe
