name: Build Windows installers
on:
  workflow_call:
    inputs:
      artifact-id:
        required: true
        type: string
      tar-file:
        required: true
        type: string
      suffix:
        required: true
        type: string

jobs:
  Build-Windows-Installer:
    # https://github.com/Minionguyjpro/Inno-Setup-Action/issues/125
    # for now keep using windows-2022 image, until the above issue
    # is resolved.
    runs-on: windows-2022
    name: Windows installer - ${{ matrix.arch }}
    strategy:
      matrix:
        arch: [x64, x86]
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          artifact-ids: ${{ inputs.artifact-id }}
          merge-multiple: true
      - name: Debug
        run: dir
        shell: cmd
      - name: Extract tar file
        id: extract
        run: |
          tar -xzf ${{ inputs.tar-file }}
          dir /B /AD > tmpfile
          set /p BUILD_DIR= < tmpfile
          echo Build dir: %BUILD_DIR%
          echo | set /p="build_dir=%BUILD_DIR%" >> %GITHUB_OUTPUT%
          del /f tmpfile
        shell: cmd
      - name: Debug
        run: echo %cd%
        shell: cmd
        working-directory: ${{ steps.extract.outputs.build_dir }}
      - name: Setup MSVC
        uses: TheMrMilchmann/setup-msvc-dev@v3
        with:
          arch: ${{ matrix.arch }}
      - name: Build
        run: |
          cmake . -G "Ninja"
          ninja -j8
        shell: cmd
        working-directory: ${{ steps.extract.outputs.build_dir }}
      - name: Make installer
        uses: Minionguyjpro/Inno-Setup-Action@v1.2.6
        with:
          path: ${{ steps.extract.outputs.build_dir }}/win/innosetup.iss
          options: /Qp
      - name: Upload installer
        id: upload-windows-installer
        uses: actions/upload-artifact@v4
        with:
          name: sagittarius-${{ inputs.suffix }}-${{ matrix.arch }}-installer
          path: ${{ steps.extract.outputs.build_dir }}/win/Output/setup_sagittarius_*.exe
